<div class="container">
  <!-- <h1>{{ title }}</h1> -->
  <!--<h3>{{ task.description }}</h3>-->
  <h1>{{title}}</h1>
  <div *ngFor="let currentTask of tasks">
    <h3>{{ currentTask.description }}</h3>
    <button (click)="showDetails(currentTask)">Edit</button>
  </div>
  <div *ngIf="selectedTask">
    <h1>Edit Task</h1>
    <div>
      <label>Enter Task Description:</label>
      <input [(ngModel)]="selectedTask.description">
    </div>
    <div>
      <label>Enter Task ID:</label>
      <input [(ngModel)]="selectedTask.id">
      <button (click)="finishedEditing()">Done</button>
    </div>
  </div>
</div>
  <!-- <div>
    <h1>Edit Task</h1>
    <p>Description: {{ selectedTask.description }}</p>
    <p>Task ID: {{ selectedTask.id }}</p>
  </div> -->




<!--<h3 *ngFor="let currentTask of tasks">{{ currrentTask.description}}</h3>-->
